# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
*.gem
*.gemspec

# Ruby
.bundle/
Gemfile.lock
vendor/

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
